*{
    box-sizing: border-box;
}

@font-face{
    font-family:"PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2");
    font-display: swap;
}

@font-face{
    font-family:"PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2");
    font-display: swap;
}

.page{
    height: 100%;
    color: #333333;
    background-color: #F2F2F2;
    font-size: 18px;
    font-family: "PT Sans", sans-serif;
}

.page-body{
    background-color: #fff;
    width: 1200px;
    min-height: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-main{
    text-align: center;
}

a{
    text-decoration: none;
}

ul, li{
    list-style-type: none;
}

.logo{
    width: 139px;
    height: 70px;
    z-index: 1;
}

.page-body{
    margin: 0 auto;
}

.header-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 72px;
    height: 65px;
}

.nav-item-active{
    position: relative;
    
}

.site-menu-item{
    display: flex;
    align-items: center;
}

.site-menu-item:not(.nav-item-active) .site-menu-link:hover{
    color: #756257;
    cursor: pointer;
}

.icon-button:hover{
    fill: #756257;
    cursor: pointer;
}

.nav-item-active::after{
    content: "";
    position: absolute;
    right: 17px;
    left: 17px;
    bottom: 0;
    height: 2px;
    background-color: #756257;
}

.site-menu{
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    list-style: none;
    max-width: 593px;
}

.site-menu-link{
    color: #000;
    display: block;
    padding: 17px;
    text-decoration: none;
}

.additional-menu{
    display: flex;
    align-items: center;
}

.icon-button-counter{
        position: absolute;
        top: 15px;
        right: 600px;
        min-width: 20px;
        height: 20px;
        padding: 0 4px;
        color: #ffffff;
        background-color: #7db54f;
        border-radius: 50%;
        line-height: 20px;
        font-size: 10px;
        text-align: center;
    }

.button:hover{
    background-color: #615048;
}

.button:hover {
    background-color: #68a2ca;
  }
  
  .button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #68a2ca;
  }
  
  .button:focus {
    outline: 3px solid #615048;
  }


.icon-button{
    width: 42px;
    height: 42px;
    display: grid;
    place-content: center;
    fill: #000000;
    background-repeat: no-repeat;
   
}

.additional-menu-button{
    min-width: 160px;
    margin-left: 20px;
  
}

.button{
    display: inline-block;
    padding: 7px 15px 6px;
    color: #ffffff;
    background-color: #83b3d3;
    border: none;
    border-radius: 4px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 24px;
}

.button-secondary{
    background-color: #756257;
}

.button-secondary:hover {
    background-color: #615048;
  }
  
  .button-secondary:active {
    background-color: #615048;
  }
  
  .button-secondary:focus {
    background-color: #615048;
    outline: 3px solid #83b3d3;
  }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.section-title{
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 36px;
}

.subscribe .section-title {
  margin-bottom: 48px;
}

.section-description{
    font-size: 22px;
    line-height: 26px;
    margin: 0;
}

.subscribe-primary .section-title {
    color: #ffffff;
    margin-bottom: 32px;
  }

.main-promo{
    min-height: 485px;

    background-color: #83b3d3;
    background-repeat: no-repeat;
    background-position:
      50% calc(50% - 16px),
      50% 102%,
      50% 50%;
    background-size:
      auto auto,
      100% cover;
    background-image:
      url("../images/svg/welcome.svg"),
      url("../images/svg/divider.svg"),
      url("../images/bg/index-background.jpg");
}

.advantages-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    padding: 0;
}

.advantages-item{
    display: grid;
    align-content: start;
    gap: 20px;
    min-height: 384px;
    padding: 60px;
    padding-top: 184px;
  
    background-repeat: no-repeat;
    background-size: 76px 76px;
    background-position: 50% 88px;
    background-color: rgba(131, 179, 211, 0.12);
}



.advantages-item:not(.advantages-item-large):nth-child(2n) {
    background-color: rgba(131, 179, 211, 0.2);
}

.advantages-list-inner .advantages-item:nth-child(even) {
    background-color: #ffffff;
  }

.advantages-list-inner .advantages-item:nth-child(2n) {
    background-color: #ffffff;
}

.advantages-item-large{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1 / -1;
    padding: 0;
    color: #ffffff;
    background-color: #83B3D3;
    
}

.main-promo img{
    width: 1200px;
    min-height: 485px;
}



.advantages-list-inner{
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    padding: 0;
  
    color: #333333;
    background-color: #ffffff;
}

.inner-house-img{
    background-image: url("../images/svg/house.svg");
}

.inner-food-img{
    background-image: url("../images/svg/food.svg");
}

.inner-souvenir-img{
    background-image: url("../images/svg/souvenirs.svg");
}

.advantages-description{
    display: grid;
    align-content: start;
    gap: 26px;
    min-height: 384px;
    padding: 60px;
    padding-top: 98px;
}

.adv-desc-one::before{
    content: "— №" "1" " —";
}

.adv-desc-two::before{
    content: "— №" "2" " —";
}

.adv-desc-three::before{
    content: "— №" "3" " —";
}

.adv-desc-four::before{
    content: "— №" "4" " —";
}

.adv-desc-five::before{
    content: "— №" "5" " —";
}

.advantages-title{
    margin: 0;
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    order: -1;
}


.advantages-item-large .advantages-title{
    color: #fff;
}

.advantages-list-inner .advantages-title{
    color: #000;
}


.advantages-text{
    line-height: 21px;
    margin: 0;
}

.advantages-img{
    grid-column: span 2;
    width: 100%;
    height: 0;
    min-height: 100%;
    object-fit: cover;
}

.advantages-item-large:nth-child(2) .advantages-img {
    order: -1;
}

.button-large{
    padding: 18px 16px 17px;
    border-radius: 10px;
    font-size: 20px;
}

.subscribe{
        padding: 42px 200px 138px;
        text-align: center;
      }


.subscribe-form{
    display: grid;
    grid-template-columns: 1fr 200px;
    margin-top: 46px;
}

.subscribe-primary{
    height: 412px;
    padding-top: 92px;
    padding-bottom: 95px;
    color: #ffffff;
    background-color: #83B3D3;
    background-image: url("../images/bg/background-blur.jpg");
    background-size: cover;
}

.field-input{
    width: 100%;
    padding: 8px 20px;
    background-color: #f2f2f2;
    border: 2px solid transparent;
    border-radius: 4px;
    font-family: inherit;
    font-size: 18px;
}

.subscribe-primary .section-title{
    color: #fff;
}

.page-footer{
    display: flex;
    justify-content: space-between;
    padding: 27px 62px 25px;
    align-items: center;
}

.social{
    display: flex;
    flex-wrap: wrap;
    margin-right: -2px;
    margin-left: -2px;
    padding: 0;
    list-style: none;
}

.social-item{
    margin: 2px;
}

.social-link{
    display: grid;
    place-content: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    fill: #83b3d3;

}

.footer-social{
    align-self: start;
    margin-top: 8px;
}

.footer-phone{
    padding: 15px;
    color: #000000;
    border-radius: 10px;
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
    margin-left:18px;
}

.footer-developer img{
    width: 115px;
    height: 34px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-header{
    background-image: url('../images/bg/main-header.jpg');
    padding: 35px 72px 80px;
    color: #ffffff;
    background-color: #83B3D3;
    background-size: cover;
    height: 408px;
}

.page-main-header{
    margin: 0;
    font-size: 60px;
    line-height: 78px;
    text-align: start;
}

.breadcrumbs{
    display: flex;
    flex-wrap: wrap;
    margin-top: -10px;
    margin-bottom: 43px;
    margin-left: -8px;
    padding: 0;
    font-size: 16px;
    line-height: 21px;
    list-style: none;
}

.breadcrumbs-item + .breadcrumbs-item {
    position: relative;
  
    margin-left: 10px;
  }
  
  .breadcrumbs-item + .breadcrumbs-item::before {
    content: "";
    position: absolute;
    top: calc(50% - 4px);
    left: -7px;
  
    width: 5px;
    height: 8px;
  
    background-image: url("../images/icons/chevron-right.svg");
    opacity: 0.3;
  }

.breadcrumbs-link {
    display: flex;
    padding: 3px 8px;
}

.breadcrumbs-link-home{
    width: 28px;
    height: 27px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("../images/icons/home.svg");
}

.breadcrumbs-item + .breadcrumbs-item {
    margin-left: 10px;
  }

.filter-form{
    display: grid;
    grid-template-columns: 200px 200px 1fr 223px;
    justify-content: space-between;
    gap: 17px;
}

.filter-submit {
    min-height: 48px;
    margin-bottom: 16px;
    width: 160px;
  }

.filter-submit:not(:active):focus {
    outline-color: #ffffff;
  }

.filter-fieldset{
    margin: 0;
    padding: 0; 
    border: none;
    text-align: start;
}

.filter-fieldset-price{
    margin-left: 94px;
    width: 287px;
}

.filter-title{
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
}

.control{
    position: relative;
}

.control-input{
    position: absolute;
    opacity: 0;
}

.control-lead {
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 19px;
  
    line-height: 24px;
  }
  
  .control-lead::before,
  .control-lead::after {
    content: "";
  
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 20px;
    margin-top: 2px;
  }
  
  .control-lead::before {
    background-color: #ffffff;
    border-radius: 4px;
  }
  
  .control-lead::after {
    display: none;
  
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("../images/icons/check.svg");
  }
  
  .control-input[type="checkbox"]:hover + .control-lead::before {
    background-color: rgba(255, 255, 255, 0.6);
  }
  
  .control-input[type="checkbox"]:active + .control-lead::before {
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .control-input:focus + .control-lead::before {
    outline: 3px solid #83b3d3;
  }
  
  .control-input:checked + .control-lead::after {
    display: block;
  }
  
  .control-input[type="radio"] + .control-lead::before {
    border-radius: 50%;
  }
  
  .control-input[type="radio"] + .control-lead::after {
    background-color: #3f5e72;
    background-image: none;
    background-clip: content-box;
    border: 5px solid transparent;
    border-radius: 50%;
    box-sizing: border-box;
  }
  

.filter-item + .filter-item{
    margin-top: 11px;
}

.filter-list{
    margin: 0;
    padding: 0;
    padding-top: 30px;
}

.filter-buttons{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-left: 64px;
    width: 160px;
}

.filter-reset{
    align-self: center;
    color: #ffffff;
    background-color: transparent;
    font-family: inherit;
    font-size: 18px;
    border: none;
    padding: 3px 14px;
    border-radius: 4px;
}

.filter-reset:hover {
    color: rgba(255, 255, 255, 0.6);
  }
  
  .filter-reset:active {
    color: rgba(255, 255, 255, 0.3);
  }
  
  .filter-reset:not(:active):focus {
    outline: 3px solid #83b3d3;
    outline-offset: -3px;
  }

.range{

    margin-top: 35px;
}

.range-title{
    grid-column: -2 / -1;
    grid-row: 1 / 2;
    opacity: 0.3;
}

.range-slider{
    grid-column: 1 / -1;
}

.range-field{
    display: grid;
    grid-template-columns: 1fr 44px;
}

.range-field:first-child {
    order: -1;
  }

.range-design{
    display: grid;
    grid-template-columns: 1fr 2px 1fr;
    width: 287px;
}

.range-design::before {
    content: "";
    position: relative;
    z-index: 1;
  
    width: 2px;
  
    background-color: #ffffff;
  }
  
  .range-design:hover::before {
    opacity: 0.6;
  }
  
  .range-design:focus-within::before {
    opacity: 1;
  }

.range-input{
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    height: 48px;
    padding: 10px 18px;
    padding-right: 50px;
  
    color: #ffffff;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 4px;
  
    font-family: inherit;
    font-size: 18px;
  
    appearance: textfield;
}

.range-input::-webkit-inner-spin-button,
.range-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.range-field:first-child .range-input {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.range-field:nth-child(2) .range-input {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.range-input:hover {
  border-color: rgba(255, 255, 255, 0.6);
}

.range-input:focus {
  outline: 3px solid #83b3d3;
  border-color: #ffffff;
  box-shadow: inset 0 0 0 3px #83b3d3;
}

.range-input:not(:placeholder-shown):focus {
  background-color: #756257;
  border-color: #ffffff;
  box-shadow: none;
  outline: none;
}

.range-title {
  grid-column: -2 / -1;
  grid-row: 1 / 2;
  align-self: center;
  justify-self: center;
  margin-top: -2px;

  opacity: 0.3;

  line-height: 18px;
}

.range-field:nth-child(2) .range-title {
  margin-right: 6px;
}

.range-slider {
  margin-top: 28px;
}

.slider{
    height: 4px;
    background-color: rgba(255, 255, 255, 0.3);
}

.slider-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    background-color: #ffffff;
}

.slider-thumb{
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
}

.slider-thumb:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.slider-thumb:focus {
  outline: 3px solid #83b3d3;
}

.slider-thumb:active {
  outline-width: 2px;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}


.catalog{
    padding: 0 72px
}

.view{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    max-width: 224px;
    margin: -4px;
    padding: 0;
    list-style: none;
}

.view-item{
    margin: 4px;
}

.view-item-active .view-link {
    border-color: #000000;
  }

.view-link{
    display: block;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 2px solid #e6e6e6;
    border-radius: 4px;
}

.view-link-cards{
    background-image: url('../images/icons/cards.svg');
}

.view-link-slide{
    background-image: url('../images/icons/slides.svg');
    background-repeat: no-repeat;
    background-position: center;

}

.view-link-list{
    background-image: url('../images/icons/list.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.view-link[href]:hover {
    border-color: #83b3d3;
  }
  
  .view-link[href]:active {
    border-color: #000000;
  }
  
  .view-link:focus {
    outline: none;
    border-color: #83b3d3;
  }

.ctlg-sort{
    display: grid;
    grid-template-columns: 1fr 287px max-content;
    align-items: center;
    gap: 80px;
    padding: 44px 0 53px;
}

.catalog-title{
    margin: 0;
    width: 449px;
    text-align: start;
}

.catalog-select{
    width: 287px;
    margin-right: auto;
}

.select{
    position: relative;
    z-index: 1;
}

.select-button{
    display: grid;
    grid-template-columns: 1fr 50px;
    padding: 10px 18px;
    padding-right: 18px;
    padding-right: 0;
    color: #333333;
    border: 2px solid #e6e6e6;
    border-radius: 4px;
    font-size: 18px;
    cursor: default;
    user-select: none;
    text-align:start;
}

.select-button::after {
    content: "";
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url("../images/icons/chevron-down.svg");
}

.select-menu{
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    margin: 0;
    padding: 10px 0;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    list-style: none;
    text-align: start;
}

.select-item-active{
    background-color: #e6e6e6;
}

.select-option{
    display: block;
    padding: 8px 20px;
    color: #333333;
    text-decoration: none;
}

.select-button::-webkit-details-marker {
    display: none;
  }

  .select-button:hover:not(:active) {
    border-color: #83b3d3;
  }
  
  .select-button:active {
    color: rgba(51, 51, 51, 0.3);
  }
  
  .select-button:focus:not(:active) {
    outline: none;
    border-color: #83b3d3;
  }
  
  .select-button:active::after {
    opacity: 0.3;
  }
  
  .select[open] .select-button::after {
    transform: rotate(180deg);
  }

  .select-option:hover {
    background-color: #f2f2f2;
  }
  
  .select-item-active .select-option:hover {
    background-color: transparent;
  }
  
  .select-option:active {
    color: rgba(51, 51, 51, 0.3);
    background-color: #f2f2f2;
  }
  
  .select-label {
    margin: 0;
    margin-right: 50px;
  }

.card-img{
    order: -1;
    width: 100%;
    height: 100%;
    grid-area: image;
    object-fit: cover;
}

.card-link:hover + .card-img {
    opacity: 0.6;
  }
  
  .card-link:active + .card-img {
    opacity: 0.3;
  }
  
  .card-link:focus:not(:active) + .card-img {
    outline: 3px solid #83b3d3;
  }

.button-card-more{
    grid-area: button-more;
}

.button-card-chosen{
    grid-area: button-chosen;
}

.button-success {
    background-color: #7db54f;
  }

  .button-success:hover {
    background-color: #6c9e42;
  }
  
  .button-success:active {
    background-color: #6c9e42;
  }
  
  .button-success:focus:not(:active) {
    background-color: #6c9e42;
  }

.card-description{
    grid-area: description;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 26px;
    margin: 0;
}

.card-title{
    font-size: 24px;
    line-height: 31px;
    grid-area: title;
    margin: 0;
}

.card-link{
    color: #000;
    text-decoration: none;
    width: 155%;
}

.card-link::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 160px;
    left: 0;
    z-index: 1;
  }

.card-rate{
    grid-area: rate;
    justify-self: end;
    min-width: 160px;
    margin: 0;
    padding: 7px 8px 6px;
    background-color: #f2f2f2;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    line-height: 24px;
}

.pagination{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    border-top: 1px solid #e6e6e6;
    margin-top: 34px;
}

.pagination-button{
    min-width: 620px;
    border-radius: 4px;
}

.pagination-nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #e6e6e6;
}

.pagination-list{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -4px;
    padding: 0;
    list-style: none;
}

.pagination-item{
    margin: 0 4px;
}

.pagination-item-active .pagination-link {
    color: #000000;
    background-color: #f2f2f2;
  }

.pagination-list a{
    margin: 0;
    padding: 0;
}

.pagination-link{
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    color: #ffffff;
    background-color: #83B3D3;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
}

.pagination-link:hover {
    background-color: #68a2ca;
  }
  
  .pagination-link:active {
    color: rgba(255, 255, 255, 0.3);
  }
  
  .pagination-link:focus:not(:active) {
    outline: 3px solid #756257;
    outline-offset: 0;
  }
  
  .pagination-item-active .pagination-link {
    color: #000000;
    background-color: #f2f2f2;
  }

.pagination-select{
    display: flex;
    align-items: center;
}

.pagination-select .select {
    min-width: 160px;
  }

.select-title{
    margin: 0;
    margin-right: 0px;
    margin-right: 50px;
}

.advantages-title-block{
    padding: 62px 240px 87px;
}

.search{
    padding: 88px 240px 95px;
    text-align: center;
    height: 416px;
}

.search-button{
    width: 575px;
    margin-top: 50px;
}

.field{
    display: flex;
}

.subscribe-field .field-input{
    border-radius: 10px 0 0 10px;
}

.subscribe-button{
    border-radius: 0 10px 10px 0;
}

.subscribe-button:hover{
    background: var(--special-cold-dark, #68A2CA);
}

.field-input:hover {
    background-color: #e6e6e6;
  }
  
  .field-input:focus {
    background-color: #e6e6e6;
    outline: 3px solid #83b3d3;
  }
  
  .field-input-error {
    border-color: #ff5757;
  }

.card{
    position: relative;
    z-index: 0;
    display: grid;
    grid-template-columns: 1fr 26px 1fr;
    grid-template-rows: 206px;
    grid-template-areas:
        "image       image       image        " 
        "title       title       title        " 
        "description description description  " 
        "button-more .           button-chosen" 
        "stars       rate        rate         ";
    row-gap: 16px;
    padding: 20px;
    text-align: start;
}

.card-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 18px;
    row-gap: 10px;
}

.star{
    margin: 0;
    min-height: 37px;
    background-repeat: repeat-x;
    background-position: 0 50%;
    background-size: 23px 17px;
    background-image: url("../images/icons/star.svg");
}

.card-star {
    grid-area: stars;
    align-self: start;
  }

.star-four{
    width: 92px;
}

.star-three {
    width: 69px;
  }

.star-two {
    width: 46px;
  }

.footer-phone:hover {
    color: #756257;
  }
  
  .footer-phone:active {
    opacity: 0.3;
  }
  
  .footer-phone:focus {
    outline: 3px solid #83b3d3;
    outline-offset: -3px;
  }

  .footer-developer {
    display: block;
    margin-right: -12px;
    padding: 16px 22px;
    justify-self: end;
  
    border-radius: 10px;
  }
  
  .footer-developer:hover {
    fill: #756257;
  }
  
  .footer-developer:active {
    fill: #756257;
    opacity: 0.3;
  }
  
  .footer-developer:focus {
    fill: #756257;
    outline: 3px solid #68a2ca;
    outline-offset: -3px;
  }
  
  .footer-developer-image {
    display: block;
  }


  .social-link:hover {
    fill: #68a2ca;
  }
  
  .social-link:active {
    opacity: 0.3;
  }
  .social-link:focus {
    outline: 3px solid #83b3d3;
    outline-offset: -3px;}


    .modal {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 4;
    
      display: none;
      place-content: center;
    
      background-color: rgba(242, 242, 242, 0.8);
    }
    
    .modal-opened {
      display: grid;
    }
    
    .modal-container {
      display: grid;
      grid-template-columns: 1fr min-content;
      row-gap: 54px;
      width: 715px;
      padding: 70px;
      padding-top: 54px;
    
      background-color: #ffffff;
      border-radius: 30px;
      box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
    }
    
    .modal-close {
      width: 53px;
      height: 53px;
      padding: 0;
    
      background-color: #f2f2f2;
      border: none;
      border-radius: 50%;
    }
    
    .modal-close::after {
      content: "";
    
      display: block;
      width: 53px;
      height: 53px;
    
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-image: url("../images/icons/close.svg");
    }
    
    .modal-close:hover,
    .modal-close:active {
      background-color: #e6e6e6;
    }
    
    .modal-close:active::after {
      opacity: 0.3;
    }
    
    .modal-close:focus:not(:active) {
      outline: 3px solid #83b3d3;
      outline-offset: 0;
    }
    
    .modal-title {
      align-self: center;
      margin: 0;
    }
    
    .modal-content {
      grid-column: 1 / -1;
    }

    .search-form {
      display: grid;
      grid-template-columns: 50% 1fr;
      grid-template-rows: 50px 50px 50px 60px;
    
      row-gap: 40px;
    }
    
    .search-form-date {
      grid-column: 1 / -1;
    }
    
    .search-form-date .field-input {
      background-repeat: no-repeat;
      background-position: right 17px top 50%;
      background-image: url("../images/icons/date.svg");
    }
    
    .search-form-date .field-input:not(:placeholder-shown):focus {
      outline: none;
      background-color: #ffffff;
      border: 2px solid #000000;
    }
    
    .search-form-button {
      grid-column: 1 / -1;
    }

    .number {
      position: relative;
      z-index: 0;
    
      display: grid;
      grid-template-columns: 50px 1fr 50px;
      min-width: 133px;
    }
    
    .number-input {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      padding: 0 50px;
    
      text-align: center;
    
      appearance: textfield;
    }
    
    .number-input::-webkit-inner-spin-button,
    .number-input::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    
    .number-button {
      position: relative;
      z-index: 1;
    
      grid-row: 1 / 2;
      display: grid;
      place-content: center;
    
      background-color: transparent;
      border: none;
    }
    
    .number-button::after {
      content: "";
      width: 25px;
      height: 25px;
    
      background-repeat: no-repeat;
      background-position: 50% 50%;
      border-radius: 4px;
      opacity: 0.3;
    }
    
    .number-button:hover::after {
      opacity: 1;
    }
    
    .number-button:active::after {
      opacity: 0.2;
    }
    
    .number-button:focus {
      outline: none;
    }
    
    .number-button:focus:not(:active)::after {
      outline: 3px solid #83b3d3;
      outline-offset: -3px;
      opacity: 1;
    }
    
    .number-button-minus {
      grid-column: 1 / 2;
    }
    
    .number-button-minus::after {
      background-image: url("../images/icons/minus.svg");
    }
    
    .number-button-plus {
      grid-column: -2 / -1;
    }
    
    .number-button-plus::after {
      background-image: url("../images/icons/plus.svg");
    }
    

    .field {
      display: flex;
    }
    
    .field-title-info {
      display: flex;
      justify-content: flex-end;
      margin-left: 20px;
    }
    
    .field-input {
      width: 100%;
      padding: 8px 20px;
    
      background-color: #f2f2f2;
      border: 2px solid transparent;
      border-radius: 4px;
    
      font-family: inherit;
      font-size: 18px;
    }
    
    .field-input:hover {
      background-color: #e6e6e6;
    }
    
    .field-input:focus {
      background-color: #e6e6e6;
      outline: 3px solid #83b3d3;
    }
    
    .field-input-error {
      border-color: #ff5757;
    }
    
    .field-search {
      display: grid;
      grid-template-columns: 140px 1fr;
      grid-template-rows: 50px;
      column-gap: 15px;
      row-gap: 4px;
    }
    
    .field-search .field-title {
      align-self: center;
    
      font-weight: 700;
    }
    
    .field-search .field-input {
      font-weight: 700;
    }
    
    .field-message {
      grid-column: 2 / -1;
    
      font-size: 16px;
    }
    
    .field-message-error {
      color: #ff5757;
    }
    
    .field-info {
      position: relative;
    
      width: 25px;
      height: 25px;
      margin-right: 5px;
      margin-left: 10px;
    
      background-color: #83b3d3;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-image: url("../images/icons/info.svg");
      border-radius: 50%;
    }
    
    .field-info-text {
      position: absolute;
      top: calc(100% + 15px);
      left: calc(50% - 128px);
      z-index: 1;
    
      display: none;
      width: 256px;
      padding: 15px 20px 23px;
    
      color: #ffffff;
      background-color: #333333;
      border-radius: 10px;
    
      font-size: 16px;
      font-weight: 400;
    }
    
    .field-info-text::before {
      content: "";
      position: absolute;
      top: -9px;
      left: calc(50% - 10px);
    
      width: 19px;
      height: 9px;
    
      background-image: url("../images/icons/triangle.svg");
    }
    
    .field-info-text::after {
      content: "";
      position: absolute;
      top: -25px;
      right: 0;
      left: 0;
    
      height: 25px;
    }
    
    .field-info:hover .field-info-text {
      display: block;
    }